body {
    text-align: center;
}

main, table {
    width: 100%;
    margin: auto;
    max-width: 960px;
}

thead > tr {
    background-color: darkkhaki;
}

table,
tr,
th, td {
    border: ridge 2px black
}

form {
    display: inline-block;
    width: 100%;
    max-width: 600px;
}

input {
    display: block;
    width: 100%;
    border: solid 1px black;
    text-align: center;
}